*{
    overflow-x: hidden;
}
.first_image{
    height: 100%;
    width: 100%;
}
.first_image_1{
    height: 100%;
    width: 100%;
}
.first_image_2{
    height: 100%;
    width: 100%;
}
.first_lead_1{
    font-size: 16px;
}
.first_lead{
    font-size: 14px;
}
.display-5{
    line-height: normal;
}
.bold_para{
    font-weight: 400;
}
.hide_5{
    background-color: #ff5252;
}
.wrapper{
    min-width: 330px;
}

@media screen and (max-width:1039px) {
    .wrapper_head{
        width: 100%;
        margin: auto;
    }
    .wrapper{
        min-width: 400px;
        padding: 15px;
    }
}
@media screen and (max-width:768px) {
    .first_image_2{
        height: 100%;
        width: 70%;
    }
}