*{
    overflow-x: hidden;
}
.first_image{
    height: 100%;
    width: 100%;
}
.first_image_1{
    height: 100%;
    width: 100%;
}
.first_image_2{
    height: 100%;
    width: 100%;
}
.first_lead_1{
    font-size: 16px;
}
.first_lead{
    font-size: 14px;
}
.display-5{
    line-height: normal;
}
.bold_para{
    font-weight: 400;
}
.hide_5{
    background-color: #ff5252;
}
.wrapper{
    min-width: 330px;
}
.wrapper_1{
    font-size: 13px;
    line-height: normal;
}
.form-field{
    width: 40%;
    margin: auto;
}
.form_1{
    display: flex;
    flex-direction: column;
}
.employee{
    outline: none;
    width: 222px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid gray;
}
.industry{
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
}
.accordion-item{
    background-color: rgb(238, 238, 238) !important;
}
.loop{
    line-height: normal;
}
.back{
    background-color: rgb(238, 238, 238) !important;
    display: inline;
}
input[type="email"]{
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
}
.handles{
    border-bottom: 1px solid gray;
}

@media screen and (max-width:1200px) {
    .form-field{
        width: 60%;
        margin: auto;
    }
    .industry{
        width: 250px;
    }
    .employee{
        width: 250px;
    }
}
@media screen and (max-width:1039px) {
    .wrapper_head{
        width: 100%;
        margin: auto;
    }
    .wrapper{
        min-width: 400px;
        padding: 15px;
    }
}
@media screen and (max-width:953px) {
    .form-field{
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-width:768px) {
    .first_image_2{
        height: 100%;
        width: 70%;
    }
}